<ion-header>
  <ion-toolbar>
    <ion-title>Order Placed Successfully</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid fixed>
  <ion-row>
    <ion-col size="6" offset="3">
      <ion-text class="ion-text-center" color="primary">
        <h1>Thank you for shopping with us!</h1>
        <ion-button (click)="viewOrders()" expand="block" size="large">
          View Order
        </ion-button>
      </ion-text>
    </ion-col>
    <ion-col size="6"></ion-col>
  </ion-row>
</ion-grid>
</ion-content>
