<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Offers
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="coupon">
    <div class="container">
      <h3>Farmsell</h3>
    </div>
    <!-- <img src="/w3images/hamburger.jpg" alt="Avatar" style="width:100%;"> -->
    <div class="container" style="background-color:rgb(206, 206, 206)">
      <h2><b>20% OFF YOUR PURCHASE</b></h2> 
      <p>Lorem ipsum dolor sit amet, et nam pertinax gloriatur. Sea te minim soleat senserit, ex quo luptatum tacimates voluptatum, salutandi delicatissimi eam ea. In sed nullam laboramus appellantur, mei ei omnis dolorem mnesarchum.</p>
    </div>
    <div class="container">
      <p>Use Promo Code: <span class="promo">BOH232</span></p>
      <p class="expire">Expires: Jan 03, 2021</p>
    </div>
  </div>

</ion-content>
